.dashboard{
    padding: 3em;
}

.link{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 0 2em;
}

.link > a{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #99db49;
    padding: 0.7em 1em;
    text-decoration: none;
    color: #069e8c;
    font-family: 'Roboto', sans-serif;
    box-shadow: 2px 2px 5px -1px #222;
    font-weight: bold;
}

.link > a > svg{
    margin-right:0.2em ;
    font-size: 20px;
}

@media(max-width:960px){

    
    .link > a{
        padding: 0.5em 0.7em;
        box-shadow: 1px 1px 5px -1px #222;
        font-size: 14px;
    }
    
    .link > a > svg{
        font-size: 18px;
    }
}

@media(max-width:800px){
    .dashboard{
        padding: 3em 1em;
    }
}