.loader{
    height: 250px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.199);
    height: 250px;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2em;
    animation: blink 1.5s infinite ease;
}

.img,.name,.buttons > div{
    background-color: rgba(128, 128, 128, 0.493);
}

.img{
    width: 200px;
    height: 200px;
    border-radius: 30px;
}

.name{
    width: 300px;
    height: 40px;
}

.buttons{
    display: flex;
}

.buttons > div{
    width: 120px;
    height: 40px;
}

.buttons > div:first-child{
    margin-right: 1em;
}

@keyframes blink{
    0%{
        opacity: 1;
    }

    25%{
        opacity: 0.7;
    }

    50%{
        opacity: 0.5;
    }

    75%{
        opacity: 0.7;
    }

    100%{
        opacity: 1;
    }
}