.loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.loginForm > label{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    margin-bottom: 1em;
}

.loginForm > label > input{
    width: 100%;
    border: none;
    border-bottom:1px solid #222 ;
    height: 30px;
    color: #222;
}

.loginForm > label > input::placeholder{
    color: #222;
}

.loginForm > label > span{
    font-size: 20px;
    font-family: 'Salsa', cursive;
    color: #99db49;
    font-weight: bold;
    margin-bottom: 0.1em;
}

.loginForm > input[type='submit']{
    background-color: transparent;
    border: none;
    height: 30px;
    width: 120px;
    background-color: #9df334;
    color: #069e8c;
    border-radius:70px ;
    margin-top: 1.5em;
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s;
}

.loginForm > input[type='submit']:hover{
    background-color: #a5ff36;
    
}

.errorLogin{
    color: red;
    font-size: 18px;
    margin: 0.5em 0;
    font-family: 'Roboto', sans-serif;
}

@media(max-width:1300px){
    .loginForm > label{
        width: 60%;
    }
}

@media(max-width:700px){
    .loginForm > label{
        width: 90%;
    }

    .loginForm > label > span{
        font-size: 18px;
    }

    .loginForm > input[type='submit']{
        height: 25px;
        width: 100px;
        font-size: 12px;
    }

    .errorLogin{
        font-size: 16px;
    }
}

@media(max-width:400px){
    .loginForm > label{
        width: 100%;
    }

    .loginForm > label > span{
        font-size: 16px;
    }

    .loginForm > input[type='submit']{
        width: 80px;
    }
}