.petPage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 4em;
}

.informations{
    margin-top: 2em;
    width: 700px;
}

.informations h1{
    font-size: 45px;
    font-family: 'Salsa', cursive;
    color: #069e8c;
    margin-bottom: 0.5em;
}

.description{
    font-size: 22px;
    font-family: 'Crimson Text', serif;
    border-bottom: 1px solid rgb(0, 0, 0,0.5);
    padding-bottom: 1em;
}

.alert{
    font-size: 18px;
    font-family: 'Crimson Text', serif;
    padding: 1em 0;
    color: red;
    font-weight: bold;
}

.user{
    padding: 1em 0;
    display: flex;
    align-items: center;
    height: 150px;
    width: 100%;
    border-bottom: 1px solid rgb(0, 0, 0,0.5);
}

.user img{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-right: 1.5em;
}

.userInformation{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
}

.userInformation p,.chat{
    display: flex;
    align-items: center;
    width: 198px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.name,.email,.chat{
    margin-bottom: 1em;
}

.chat:hover, .chat:hover > svg{
    color: #8ec44c;
}

.userInformation svg{
    margin-right: 0.5em;
    color: #069e8c;
    font-size: 20px;
}

.chat{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: 0.5s;
}

.chat svg{
    transition: 0.5s;
}