.petPage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 4em;
    overflow-x: auto;
}

.informations{
    margin-top: 2em;
    width: 900px;
}

.informations h1{
    font-size: 45px;
    font-family: 'Salsa', cursive;
    color: #069e8c;
    margin-bottom: 0.5em;
}

.description{
    font-size: 22px;
    font-family: 'Crimson Text', serif;
    border-bottom: 1px solid rgb(0, 0, 0,0.5);
    padding-bottom: 1em;
    word-wrap:break-word;
}

.alert{
    font-size: 18px;
    font-family: 'Crimson Text', serif;
    padding: 1em 0;
    color: red;
    font-weight: bold;
}

.user{
    padding: 1em 0;
    display: flex;
    align-items: center;
    height: 150px;
    width: 100%;
    border-bottom: 1px solid rgb(0, 0, 0,0.5);
}

.user img{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-right: 2em;
    object-fit: cover;
}

.userInformation{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.userInformation p,.chat,.localization{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-overflow: ellipsis;
    margin-right: 5em;
    margin-bottom: 1em;
}

.userInformation p,.chat{
    max-width: 140px;
    overflow: hidden;
    white-space: nowrap;
}


.chat{
    display: flex;
    align-items: center;
}

.chat:hover, .chat:hover > svg{
    color: #8ec44c;
}

.userInformation svg{
    margin-right: 0.5em;
    color: #069e8c;
    font-size: 20px;
}

.chat{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: 0.5s;
}

.chat svg{
    transition: 0.5s;
}

.name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 140px;
}

.userInformation p > svg{
    min-width: 10%;
}

@media(max-width:1027px){
    .petPage{
        padding: 2em;
    }

    .informations{
        width: 100%;
    }
}

@media(max-width:900px){
    
    .informations{
        margin-top: 2em;
    }
    
    .informations h1{
        font-size: 35px;
    }
    
    .description{
        font-size: 20px;
    }
    
}

@media(max-width:803px){
    .chat{
        margin-left: 0.5em;
    }
}

@media(max-width:605px){
    
    .alert{
        font-size: 16px;
    }
    
    .user img{
        width: 60px;
        height: 60px;
    }
        
    .userInformation p,.chat,.localization{
        width: 140px;
        margin-right: 2em;
    }
    
    
    .chat{
        margin-left: 0;
    }
    
    .chat:hover, .chat:hover > svg{
        color: #8ec44c;
    }
    
    .userInformation svg{
        font-size: 18px;
    }

    .informations h1{
        font-size: 25px;
    }
    
    .description{
        font-size: 18px;
    }
   
}

@media(max-width:500px){
    .user{
        flex-direction: column;
        height: inherit;
    }

    .userInformation{
        justify-content: center;
    }

    .user img{
        width: 70px;
        height: 70px;
        margin-bottom: 1em;
    }

    .alert{
        font-size: 14px;
    }

    .informations h1{
        font-size: 20px;
    }
    
    .description{
        font-size: 16px;
    }

    .userInformation p,.chat,.localization{
       font-size: 14px;
       width: 100%;
    }

    .name > svg{
        min-width: 5%;
    }

    .userInformation svg{
        font-size: 16px;
    }

 
}

@media(max-width:407px){

    .userInformation{
        justify-content: flex-start;
    }


}

