.petDashboard{
    height: 250px;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.petDashboard > img{
    width: 200px;
    height: 200px;
    border-radius: 30px;
}

.petDashboard > span{
    font-size: 35px;
    font-family: 'Salsa', cursive;
    color: #99db49;
    
}

.buttons > button, .buttons > a{
    color: #99db49;
    padding: 0.5em 1em;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #222;
    background-color: transparent;
    color: #222;
    transition: 0.5s;
    width: 90px;
}

.buttons > button{
    margin-left: 1em;
    cursor: pointer;
}

.buttons > button:hover{
    background-color: red;
    color: #fff;
}

.buttons > a{
    text-decoration: none;
}

.buttons > a:first-child{
    margin-right: 1em;
}

@media(max-width:960px){
    .petDashboard{
        height: 220px;
    }
    
    .petDashboard > img{
        width: 170px;
        height: 170px;
    }
    
    .petDashboard > span{
        font-size: 30px;
        
    }
    
    .buttons > button, .buttons > a{
        padding: 0.5em 1em;
        font-size: 14px;
        width: 70px;
    }
   
}

@media(max-width:800px){
    .petDashboard > img{
        width: 130px;
        height: 130px;
    }

    .petDashboard{
        height: 180px;
    }

    .buttons > button, .buttons > a{
        padding: 0.5em 1em;
        font-size: 12px;
        width: 59px;
    }
}

@media(max-width:570px){
    .petDashboard{
        flex-direction: column;
        height: inherit;
    }
       
    .petDashboard > span{
       margin: 1em 0;
        
    }
    
 
}
