*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

.active{
  font-weight: bold;
}

input,select,textarea{
  outline: none;
}

select{
  border-style: none;
}

option{
  background-color: #069e8c;
  border: transparent;
}

img{
  max-width: 100%;
  max-height: 100%;
  user-select: none;
}

button{
  user-select: none;
}

input[type='file']{
  display: none;
}

input[type='submit']:disabled{
  cursor:no-drop;
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
  
}
input[type=number] { 
 -moz-appearance: textfield;
 appearance: textfield;

}

input::placeholder,textarea::placeholder{
  font-family: 'Roboto', sans-serif;
}

input,textarea,button{
  font-family: 'Roboto', sans-serif;
}

input[type='text'],input[type='email'], select, input[type='password']{
  background-color: transparent;
}

textarea{
  resize: none;
}

img{
  max-width: 100%;
  max-height: 100%;
}

.ReactCrop__child-wrapper>img{
  max-height: 70vh;
}

input[type='email']:disabled{
  cursor:no-drop;
  opacity: 0.7;
}

#root{
  min-width: 280px;
  overflow-x: auto;
}

@media(max-width:900px){
  .ReactCrop__child-wrapper>img{
    max-height: 100vh;
  }
}