.filter{
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 0;
    right: 0;
    z-index: 22;
    min-height:100% ;
    width: 500px;
    max-height: 100%;
    background-color: #069e8c;
    box-shadow: 7px 10px 8px 10px #414141;
    padding: 2em;
    transform: translateX(550px);
    transition: 0.5s ease;
    overflow-y: auto;
}

.filter h1{
    font-size: 40px;
    color: #99db49;
    font-family: 'Salsa', cursive;
    text-shadow: 2px 3px 4px #414141;
    margin-bottom: 0.5em;
}

@media(max-width:960px){
    .filter{
        z-index: 3;
    }
}

@media(max-width:549px){
    .filter{
        width: 70%;
    }
}

@media(max-width:470px){
    .filter h1{
        font-size: 30px;
        text-shadow: 1px 2px 3px #414141;
    }
}

@media(max-width:400px){
    .filter{
        width: 85%;
    }
}

@media(max-width:339px){
    .filter{
        min-width: 85%;
        padding: 1em;
    }
}

