.register{
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2em;
    height: 100%;  
}

.register h1{
    font-family: 'Salsa', cursive;
    color: #99db49;
    text-shadow: 2px 2px 4px #414141;
    font-size: 45px;
    margin-bottom: 0.5em;
}

.dog{
    position: fixed;
    bottom: 0;
    left: 0;
    animation: toApperDog 1s ease normal;
    width: 500px;
    filter:  drop-shadow(4px 3px 4px #333);
    z-index: -1;
}

.cat{
    position: fixed;
    bottom: 0;
    right: 30px;
    animation: toApperCat 1s ease normal;
    width: 400px;
    transform: translateY(57%);
    filter:  drop-shadow(4px 3px 4px #333);
    z-index: -1;
}

@keyframes toApperDog{
    to{
        transform: translateY(0px);
        opacity: 1;
    }

    from{
        transform: translateY(250px);
        opacity: 0;
    }
}

@keyframes toApperCat{
    to{
        transform: translateY(57%);
        opacity: 1;
    }

    from{
        transform: translateY(720px);
        opacity: 0;
    }
}

@media(max-width:1500px){
    
    .dog{
        width: 400px;
    }
    
    .cat{
        width: 300px;
    }
}

@media(max-width:1230px){
    .dog{
        width: 300px;
    }
    
    .cat{
        width: 200px;
    } 
}

@media(max-width:900px){

    .register h1{
        font-size: 35px;
    }

    .dog{
        width: 200px;
        bottom: 72%;
        left: -47px;
        transform: rotate(-270deg);
        top: 71px;
    }
    
    .cat{
        width: 150px;
        top:0px ;
        right: -62px;
        transform: rotate(333deg);
    }
    
    @keyframes toApperDog{
        to{
            opacity: 1;
        }
    
        from{
            left: -100px;
            opacity: 0;
        }
    }
    
    @keyframes toApperCat{
        to{
            opacity: 1;
        }
        
        from{
            right: -150px;
            opacity: 0;
        }
    }
}

@media(max-width:730px){
    .cat{
        display: none;
    }

    .dog{
        display: none;
    }
    
}

@media(max-width:500px){
    .register h1{
        font-size: 30px;
    }
}

@media(max-width:400px){
    .register h1{
        font-size: 25px;
    }
}